@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

body{
    font-size: 14px;
    color: #333;
    background-color: #fff;
    line-height: 1.5;
}

.wrap{
    width: 1200px;
    margin: 0 auto;
}

.header{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.gnb{
    display: flex;
    z-index: 1;
    position: relative;
}

.gnb::after{
    content: '.';
    position: absolute;
    top: 100px;
    right: 0px;
    width: 1200px;
    height: 0px;
    background-color: #ddd;
}

.gnb.active::after{
    height: 220px;
}

.gnb > li {
    position: relative;
}
.gnb > li > a{
    display: block;
    height: 100px;
    line-height: 100px;
    padding: 0 60px;
}

.gnb > li:hover > a{
    color: tomato;
}

.gnb ul{
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    background-color: #ddd;
    padding: 12px 0;
    display: none;
    z-index: 1;
}
.gnb ul li a{
    display: block;
    padding: 14px 0;
    text-align: center;
}
.gnb ul li:hover > a{
    background-color: tomato;
    color: #fff;
}
.slider {
    height: 300px;
    position: relative;
    overflow: hidden;
}

.slide{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
}

.slide img{
    display: block;
    width: 1200px;
}
