@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

body{
    color: #333;
    background-color: #fff;
    font-size: 14px;
    line-height: 1.5;
}

.wrap{
   width: 1200px;
   margin: 0 auto;
}

.header{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gnb{
    display: flex;
    position: relative;
}

.gnb > li {
    position: relative;
}

.gnb > li > a {
    display: block;
    height: 100px;
    line-height: 100px;
    padding: 0 60px;
}

.gnb > li:hover >a {
    color: tomato;
}

.gnb ul{
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    background-color: #eee;
    z-index: 1;
    padding: 10px 0; 
    display: none;
}

.gnb ul li a{ 
    display: block;
    text-align: center;
    padding: 12px;
    width: 100%;
}

.gnb ul li a:hover{
    background-color: tomato;
    color: #fff;
}

.slider{
    height: 300px;
    position: relative;
    overflow: hidden;
}


.slide{
    position: absolute;
    top: 0;
    left: 0;
}

.slider img{}

/*contents */

.contents{
    height: 200px;
    width: 100%;
    display: flex;
    position: relative;
    gap: 21px;
    padding: 10px 0;
}

.tab{
    flex: 1;
    height: 100%;
    width: 364px;
}

.tab_title {
    position: relative;
    display: flex;
    gap: 4px;
}

.tab_title::after{ 
    position: absolute; 
    content: ''; 
    bottom: 0; 
    width: 100%; 
    height: 3px; 
    background-color: tomato;
}

.tab_title h2{
    height: 50px;
    line-height: 50px;
    background-color: #eee;
    text-align: center;
    font-size: 14px;
    font-weight: normal;
    width: 100%;
}

.tab_title h2 a {
    display: block;
}

.tab_title h2.on {
    background-color: tomato;
    color: #fff;
}

.tab_contents{

}
.notice{
    padding: 10px 0;
    display: none;
}

.notice li a{
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow:hidden;
    padding: 4px 0;
}
.notice li a:hover{
    text-decoration: underline;
}

.notice li a{}

.gallery{
    gap: 10px;
    height: 130px;
    /* display: none; */
}

.gallery li{
    height: 100%;
}

.gallery img{
    width: 100%;
    height: 100%;
}

.banner{
    flex: 1;
}

.link{
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px
}

.link a{
    background-color: #eee;
    border-radius: 6px;
    display: block;
    text-align: center;
    height: 80px;
    line-height: 80px;
}

.link a:hover{
    background-color: #333;
    color: #fff;
}


.footer{
    height: 100px;
    display: flex;
    align-items: center;
    padding: 0 30px;
    justify-content: space-between;
    background-color: #eee;
}

.sns{
        display: flex;
        gap: 8px;
    }
    
.sns a{
        background-color: #ddd;
        border-radius: 20px;
        display: block;
        height: 40px;
        line-height: 40px;
        text-align: center;
        padding: 0 20px;
    }

.sns a:hover{
    background-color: #333;
    color: #fff;
}

#modal{
    width: 500px;
    height: 420px;
    display: block;
    background-color: #fff;
    border: 1px solid #333;
    padding: 50px 40px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: none;
}

#modal p {
    margin-top: 20px;
}
#modal a{
    position: absolute;
    bottom: 50px;
    right: 20px;
    background-color: #ddd;
    padding: 10px;
}

#modal.active{
    
}